{% extends 'base.html.twig' %}

{% block title %}Kategorie{% endblock %}

{% block body %}
    <div class="content">
        <div class="container">

            {% for movie in movies %}
                <div class="box">
                    <a href="{{ path('movie_details', {"id":movie.id}) }}">
                        <div class="photo" style="background-image:url('{{ asset('images/logo.png') }}');">
                            <div class="rating rotate">
                                <span class="xs-txt sec-font"></span>
                            </div>
                        </div>
                        <div class="text">
                            <h6 class="xs-txt">{{ movie.name }}</h6>
                        </div>
                    </a>
                </div>
            {% else %}
                <div>
                    Brak filmów
                </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}

{#{% block javascripts %}#}
    {#{{ parent() }}#}
{#{% endblock %}#}